h1{
    text-decoration:aliceblue;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html{
    background-color: rgba(141, 221, 31, 0.232);
    background: -moz-linear-gradient();
    background-image:url(./306146-2160x3840-mobile-4k-interstellar-background-photo.jpg);
    background-size: cover;
 
    
}
img{
    display:block;
  margin: auto;
  width: 50%;
}
h2,h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3,p{
  color: darkgray rgb(72, 77, 83);
}